<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tasks.Data.Properties.Settings.TaskDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=TaskDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>